---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getImages } from '../notion.mjs'

const images = await getImages()
---

<Layout title="Parakeets">
	<main class="flex flex-col p-5 sm:px-40 gap-6">
		<h1 class="text-1xl font-normal">These are <span class="text-gradient">Parakeets</span></h1>
		<ul role="list" class="link-card-grid grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{
				images.map(({name, url}) => {
					return (
					<Card
						href={url}
						title={name}
					/>
					)
				})
			}
		</ul>
	</main>
	<footer class="text-center p-4">
		Parakeets
	</footer>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
